.filter_button{
	display: inline-block;
	background: #000;
	color: white;
	border-radius: 3px;
	padding: 10px;
	margin-right: 10px;
	margin-bottom: 5px;
	font-size: 0.75em;
}
.main_category{
	width: 100%; 
	b{
		width: 100%; 
		display:block;
		margin-bottom: 1.25em;
		margin-top: 1.25em;
	}
}


.filter_button.inactive{ 
	background-color: #dfdfdf;
	color: black;
}

.filter_button.active{
	background-color: #0ca7db;
	:hover{
		background-color: orange;
	}
}

.filter_button:hover{
	background: #aaa;
	cursor: pointer;
}

.paper{
	display: block;	
	flex-direction: column;
	margin-bottom: 1.5vh;	
	margin-top: 1.5vh;
	padding-bottom: 10px;
	border-bottom: 1px solid #cfcfcf;

	.abstract{
		display: inline-block;
		margin-top: 10px; 
		border: none !important;
		padding: 5px;
		padding-left: 10px; 
		padding-right: 10px; 
		background: #ccc;
		text-transform: uppercase;
		color: black; 
		font-size: 0.8em;
	}

	.paper_abstract{ 
		margin-top: 10px; 
		margin-bottom: 10px;
		font-family: "Merriweather", serif;
		line-height: 1.5em;
		font-size: 0.95em;
	}

	.abstract:hover{ 
		background-color: #33CA7F;
	}
}

.paper_title{
	display: block;
	font-size: 1.1em;
	font-weight: bold;
	margin-bottom: 10px;
	width: 100%;

}

.special_call{
		font-weight: normal;
		background: #0B7A75;
		color: white;
		padding: 5px; 
		padding-left: 10px; 
		padding-right: 10px; 
		// border-radius: 10px;
		margin-bottom: 10px; 	
		margin-right: 10px;
		text-transform: uppercase;	
		font-size: 0.75em;
		display: inline-block;
}

.paper_authors{ 
	display: block;
	font-style: italic;
	margin-bottom: 10px; 
}

.paper_author{ 
	display: inline; 
	padding: 4px; 
	margin-right: 0.6em;
	font-size: 1.1em;
}

.filters{ 
	h4{ 
		margin-bottom: 10px; 
		margin-top: 10px;
	}
}

.active:hover{ 
	background: orange;
}

.poster_assignment{ 
	display: inline-block;
	background: rgb(195, 109, 43); ;
	text-transform: uppercase; 
	padding: 5px;
	padding-left: 10px; 
	padding-right: 10px; 
	margin-right: 10px; 
	margin-top: 10px; 
	color: black;
	// border-radius: 10px; 
	margin-bottom: 10px; 
	font-size: 0.75em;
	text-align: center;
	align-content: center;
	font-weight: normal;
	color: white;
}

.best_paper{ 
	display: inline-block;
	background: rgb(215, 212, 56);
	text-transform: uppercase; 
	padding: 5px; 
	padding-left: 10px; 
	padding-right: 10px; 	
	margin-top: 10px;
	font-size: 0.75em;
	// border-radius: 10px; 
	margin-right: 10px;	
}