.team__img{
  width: 128px;
  height: 128px;
  object-fit:scale-down;
  margin-bottom: 1.1em;
  border-radius: 200px;
}
.team_title{
  margin-bottom: 1.1em;
  &:hover{
    color: #0B7A75; 
  }
}
.team__row{
  margin-bottom: 1.1em;
}

.member__name{
  font-size: 1.05em;
}